In [1]:
import pandas as pd

In [8]:
xgboost_df = pd.read_csv('XGBoost-submission.csv')
xgboost_df.columns = ['id', 'target_xgb']
xgboost_df.head()

   id  target_xgb
0   0           0
1   2           1
2   3           1
3   9           1
4  11           0

In [6]:
naive_bayes_df = pd.read_csv('nb_tfidf_bow_submit.csv')
naive_bayes_df.columns = ['id', 'target_nb']
naive_bayes_df.head()

   id  target_nb
0   0          1
1   2          1
2   3          1
3   9          1
4  11          1

In [5]:
conv1d_df = pd.read_csv('BERT-Conv1D-submit.csv')
conv1d_df.columns = ['id', 'target_conv1d']
conv1d_df.head()

   id  target_conv1d
0   0              1
1   2              1
2   3              1
3   9              1
4  11              1

In [27]:
df = pd.DataFrame()
df['id'] = conv1d_df['id']
df['sum_targets'] = conv1d_df['target_conv1d'] + naive_bayes_df['target_nb'] + xgboost_df['target_xgb']
df['target'] = df['sum_targets'].apply(lambda x: 1 if x >= 2 else 0)
df.drop(['sum_targets'], axis=1, inplace=True)

In [29]:
df.to_csv('ensamble.csv')